{% extends "adminLayout.twig" %}

{% block mainContainerContentArticle %}
    <div class="card mainContainerContentArticle">
        <div class="card-body">
            <h1 class="card-title">Admin Dashboard <sup>(in development)</sup></h1>
        </div>
    </div>
{% endblock mainContainerContentArticle %}
