{% extends "layout.twig" %}
{% block page %}
    <section class="section">
        <div class="container">
            <h1 style="text-align: center;"><span style="color: #3366ff;">ЗАПИСЬ НА ПРИЕМ</span></h1>
            <p style="text-align: center;">&nbsp;</p>
            <table style="width: 100%; height: 500px; float: right;" border="0">
                <tbody>
                <tr style="height: 268.2px;">
                    <td style="height: 268.2px; vertical-align: top;">
                        <h2>Апраксин Дмитрий Александрович</h2>
                        <p>&nbsp;</p>
                        <p><strong><a href="/meetings/meet-with-user/10ca243728881403/add">ЗАПИСАТЬСЯ НА ПРИЕМ</a></strong></p>
                    </td>
                    <td style="height: 268.2px; vertical-align: top;">
                        <h2>Симонов Артем Константинович</h2>
                        <p>&nbsp;</p>
                        <p><strong><a href="/meetings/meet-with-user/10ca4b0c8b081404/add">ЗАПИСАТЬСЯ НА ПРИЕМ</a></strong></p>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <p>Мы принимаем по адресу: г. Иркутск</p>
        </div>
    </section>
{% endblock page %}